framework: net45
source https://www.nuget.org/api/v2

nuget NLog
nuget Eto.Platform.Windows
nuget Eto.Platform.Gtk3
nuget Eto.Forms
nuget Jetbrains.Annotations
nuget MvvmLightLibs
nuget CommonServiceLocator
nuget Mono.Posix