source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget CommonServiceLocator
nuget Eto.Platform.Windows
nuget Eto.Forms
nuget Mono.Posix.NETStandard
nuget MvvmLightLibs
nuget NLog
nuget NUnit
nuget NUnit3TestAdapter
nuget System.Text.Encoding.CodePages
