framework: net45
source https://www.nuget.org/api/v2

nuget CommonServiceLocator
nuget Eto.Platform.Windows
nuget Eto.Platform.Gtk3
nuget Eto.Forms
nuget Jetbrains.Annotations
nuget Mono.Posix
nuget MvvmLightLibs
nuget NLog
nuget NUnit